body {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  background-color: #faedcd;
}

.footer_container {
  margin-top: 15%;
  margin-bottom: 0%;
  align-items: center;
}

.navbar {
  margin-top: 0%;
  margin-left: 45%;
  margin-right: 0%;
  float: right;
  display: flex;
  justify-content: center;
}


#navbar_text {
  color: black;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
}

.logo {
  margin-left: 2%;
  font-size: 60px;
  color: black;
}

.header {
  display: flex;
  justify-content: center; 
}

.footer {
  margin-bottom: 0px;
  margin-top: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  color: black;
}

.home {
  display: flex;
  margin: 5%;
}

.temp {
  background-color: white;
  display: flex;
  gap: 20px;
  margin: 30px;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Russo One', sans-serif;
  background-color: white;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.54);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.filter {
  margin-bottom: 10px;
}

.container {
  display: grid;
  margin: 0 60px 60px;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.horse {
  font-family: 'Russo One', sans-serif;
  width: 250px;
  height: auto;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.54);
}

.addHorseClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.addHorseClass form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addHorseClass label {
  margin-bottom: 5px;
}

.addHorseClass input,
.addHorseClass select {
  width: 350px;
  text-align: center;
  margin-bottom: 10px;
}

.horseDetails p {
  margin: 8px 0;
  font-size: 18px;
}

.horseDetails textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
}

.horseDetails button {
  margin: 20px 0;
  background-color: #3b3528;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.horseDetails button:hover {
  background-color: #221e16;
}

.line-1 {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 1px;
  background: black;
}

.centered {
  text-align: center;
  align-items: center;
}

.margin-right {
  margin-right: 20px;
}

.custom-modal-portal .ReactModal__Overlay {
  z-index: 10000;
}

.custom-modal-portal .ReactModal__Content {
  background-color: white;
}

.profile_pics {
  width: 800px;
  height: auto;
  border-radius: 20px;
  align-items: stretch;
}

.horse_passport_pics {
  width: 600px;
  height: auto;
  border-radius: 20px;
  align-items: stretch;
}

.horseDetails {
  display: flex;
  border-radius: 10px;
  margin-top: 5%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.informations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
}

