body {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  background-color: #F9F4E8;
}

.footer_container {
  margin-top: 15%;
  margin-bottom: 0%;
  align-items: center;
}

.navbar {
  margin-top: 0%;
  margin-left: 50%;
  margin-right: 0%;
  float: right;
  display: flex;
}

#navbar_text {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
}

.logo {
  margin-left: 2%;
  font-size: 60px;
  color: black;
}

.header {
  display: flex;
}

.footer {
  margin-bottom: 0px;
  margin-top: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  color: black;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 60px;
  align-items: center;
  justify-content: flex-start;
}

.filter {
  margin-bottom: 10px;
}

.container {
  display: grid;
  margin: 0 60px 60px;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.horse {
  font-family: 'Russo One', sans-serif;
  width: 300px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.54);
}

.addHorseClass {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.horseDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.horseDetails h2 {
  margin-bottom: 20px;
}

.horseDetails p {
  margin: 8px 0;
  font-size: 18px;
}

.horseDetails textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
}

.horseDetails button {
  margin: 20px 0;
  background-color: #3b3528;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.horseDetails button:hover {
  background-color: #3b3528;
}
